
:root
{
    --dark-violet: rgb(30, 8, 90);
    --light-violet: rgb(80, 13, 100);
    --lighter-violet: rgb(80, 13, 100);
  
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: black;
}


#main-container
{
    width: 80%;
    height: 100vh;
    margin: auto;
    margin-top: 10px;
    background-color: inherit;

}

.navbar, .about, .passions, .selected-passion, .footer
{
    margin-bottom: 10px;
    border-radius: 10px;
}

#navbar
{
    width: 100%;
    height:6em;
    background-color: var(--light-violet);
    display: flex;
    justify-content: space-between;
}

#title
{
    margin-left: 20px;
    height: inherit;
    width: 30%;
    align-items: center;
    
}

.navbar-links
{
    display: flex;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: space-around;
}

.about
{
    background-color: aliceblue;
    width: 100%;
    height: 10rem;
}

.passions 
{
    display: flex;
    width: 100%;
    height: 20rem;
    background-color: rgb(41, 123, 196);
    justify-content: center;

}

.passion-items
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:inherit;
    height: inherit;
    
}

#passion-items li{
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 50%;
    width: 20%;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    padding: 10px;
    margin: 20px 20px;
}

#passion-items li *
{
    text-align: center;
}

.passion-item[selected]
{
    background-color: rgb(179, 186, 192);
}

#passion-items li img
{
    width: 80%;
    height: 30%;
    align-items: center;
}

.selected-passion
{
    background-color: rgb(8, 44, 75);
    width: 100%;
    height: 30rem;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;

}

#passion-description, #passion-photos
{
    width: 42%;
    height: 90%;
    border: 1px solid black;
    border-radius: 10px;

}




.footer 
{
    background-color: aliceblue;
    width: 100%;
    height: 8rem;
}